<%= form_for(@team, :html => { :class => "form-vertical" }) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="span2 offset2">
      <img src="/assets/<%= params[:teamgroup] %>.jpg" alt="">
    </div>
    <div class="span6">
     <%= f.hidden_field :teamgroup, :value => params[:teamgroup] %>

  <div class="control-group">
    <%= f.label :teamname, "Lagnavn", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :teamname, id: "auto_complete", :autocomplete => :off, :required => true %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, "Lagleder", :class => 'control-label' %>
    <div class="controls-row">
      <%= f.text_field :name, :required => true, :placeholder => "Navn" %>
      <%= f.text_field :email, :required => true, :placeholder => "E-Post" %>
    </div>
  </div>
   
  <div class="control-group">
    <div class="controls">
    

      <%= f.submit 'Fortsett', :class => 'btn btn-large btn-info' %>
    </div>
  </div>
    </div>

  </div>
  
<% end %>


<script>
$('#teamgroups input:radio').addClass('input_hidden');
$('#teamgroups label').click(function() {
    $(this).addClass('selected').siblings().removeClass('selected');
});</script>
