<h1>Listing teams</h1>

<table>
  <tr>
    <th>Teamgroup</th>
    <th>Teamname</th>
    <th>Leader</th>
    <th>Leaderemail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.teamgroup %></td>
    <td><%= team.teamname %></td>
    <td><%= team.name %></td>
    <td><%= team.email %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Team', new_team_path %>
