<div class="container">
	<div class="row">
	<div class="span12 logos logos-top">
    <%= image_tag("cocio-logo.png", :class => "cocio-logo logo-small") %>
    <%= image_tag("single.png", :class => "cocio-logo single-picture") %>
  </div>
		<div class="span12">
			<div class="well">
			<h1 class="text-center">Ditt lag</h1><br>
				<%= render 'form' %>
			</div>
		</div>

	</div>
</div>


<%= javascript_tag "var autocomplete_items = #{ @teamname.to_json };" %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $('#auto_complete').typeahead({source: autocomplete_items});
    });
</script>