<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/no_NO/all.js#xfbml=1&appId=140777122778257";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container">
  <div class="row">
    <div class="span12">
    <div class="ticket"><%= image_tag("ticket.png") %></div>
      <div class="well show-well">
      <div class="row">
        <div class="span2 offset2">
            <% if @team.teamgroup == "db" %>
            <%= image_tag("db.jpg") %>
          <% elsif @team.teamgroup == "nod" %>
            <%= image_tag("nod.jpg") %>
          <% elsif @team.teamgroup == "dn" %>
            <%= image_tag("dn.jpg") %>
          <% elsif @team.teamgroup == "vg" %>
            <%= image_tag("vg.jpg") %>
          <% end %>
          <br>
          <p id="notice"><%= notice %></p>
        </div>

      <div class="span6">
        <h1><em><%= @team.teamname %></em></h1>
        <% if @team.teamgroup == "db" %>
          <h2>Spiller for DAGBLADET</h2>
        <% elsif @team.teamgroup == "nod" %>
          <h2>Spiller for NATT&DAG</h2>
        <% elsif @team.teamgroup == "dn" %>
          <h2>Spiller for DAGENS NÆRINGSLIV</h2>
        <% elsif @team.teamgroup == "vg" %>
          <h2>Spiller for VG</h2>
        <% end %>

        <br>
        <b>Leder:</b> <%= @team.name %><br><br>
        <h4>Velg fire faste spillere, men uendelig med innbyttere! <br>Send invitasjon til dine atletiske venner via mail.</h4><h5> <br>Eller synes du det er enklere å sende en facebook-message? <div class="fb-send" data-href="http://sommerleker.danmade.me<%= url_for team_path(@team) %>/"></div></h5>
        
        <br><br>
         <% if @team.players.any? %>
          <h4>Teammedlemer: (<%= @team.players.count %>)</h4>
            <ol class="players">
             <% @team.players.each do |p| %>
              <li><%= link_to p.name, player_path(p) %>
                <% if p.confim == true %>
                  <a href="/players/<%= p.slug %>" class="confirm-player"><i class="icon-ok"></i> Bekreftet
                    </a>
                <% else %>
                    <a href="/players/<%= p.slug %>" class="confirm-player"><i class="icon-remove"></i> Ubekreftet</a>
                <% end %>
              </li>
             <% end %>
            </ol>
          <% else %>
            <h3>Det er ingen på laget ditt ennå, legg til noen!</h3>

        <% end %>

        <%= form_for(Player.new, :html => { :class => "form-inline" }) do |f| %>
            <%= f.text_field :name, placeholder: "Navn" %>
            <%= f.text_field :email, placeholder: "E-Post" %>
            <%= f.hidden_field :team_id, :value => @team.id %>
            <%= f.hidden_field :teamslug, :value => @team.slug %>
            <%= f.submit "Inviter", class: "btn btn-primary" %>
        <% end %> 

        <br>
        
        
        
        
              </div>
      </div>
    </div>
    <div class="span12 logos">
    <%= image_tag("cocio-logo.png", :class => "cocio-logo logo-small") %>
    <%= image_tag("group.png", :class => "cocio-logo group-picture") %>
  </div>
  </div>
</div>
