<div class="container">
	<div class="row">
		<div class="span12">
			<div class="well">
				<div class="text-center offsetback">
					<h1>Hvor jobber du da?</h1>
					<% if Team.find_by_teamgroup("db") %>
						<%= image_tag("db.jpg", :class => "big-img grey") %>
					<% else %>
						<a href="/teams/new?teamgroup=db"><%= image_tag("db.jpg", :class => "big-img") %></a>
					<% end %>

					<% if Team.find_by_teamgroup("nod") %>
						<%= image_tag("nod.jpg", :class => "big-img grey") %>
					<% else %>
						<a href="/teams/new?teamgroup=nod"><%= image_tag("nod.jpg", :class => "big-img") %></a>
					<% end %>
					
					<% if Team.find_by_teamgroup("dn") %>
						<%= image_tag("dn.jpg", :class => "big-img grey") %>
					<% else %>
						<a href="/teams/new?teamgroup=dn"><%= image_tag("dn.jpg", :class => "big-img") %></a>
					<% end %>
					
					<% if Team.find_by_teamgroup("vg") %>
						<%= image_tag("vg.jpg", :class => "big-img grey") %>
					<% else %>
						<a href="/teams/new?teamgroup=vg"><%= image_tag("vg.jpg", :class => "big-img") %></a>
					<% end %>
					
				</div>
			</div>
		</div>
	</div>
	<div class="span12">
		<%= image_tag("cocio-logo.png", :class => "cocio-logo logo-big") %>
	</div>
</div>