<%= image_tag('newsletter-top.png') %>

<p>Hei <%= @player.name %>,</p>

<p>Gratulerer, noen som stoler på deg har meldt deg på laget! <br><br>

Lørdag 15.Juni er du invitert til mediaturnèring i street-basket, løkkefotball , croquett og petank mot NATT&DAG på Sukkerbiten . <br><br>

<a href="http://nattogdagsummer.herokuapp.com/teams/<%= @player.teamslug %>">Se hvem du spiller med og bekreft at du har holdt av datoen her</a>
<br><br>

'Winning doesn't really matter as long as you win'  - Vinny Jones
<br><br>


----------- <br><br>

NATT&DAG Sommerleker | Sukkerbiten  Lørdag 15. Juni | 12:00-18:00  <br>

www.nattogdag.no    |         www.cocio.no          |    www.sukkerbiten.no <br>
</p>