<%= image_tag('newsletter-top.png') %>

<p>“ Bra jobbet”  - Arne Scheie</p>

<p><%= @team.name %>,</p>

<p>du har registrert deg som lagleder og vil være kontaktperson og ansvarlig for ditt lag. <br><br> 

Du kan nå invitere dine kollegaer til være med på laget. 
Laget kan ha 5 spillere inkludert lagleder ,  men dere kan naturligvis invitere så mange innbyttere dere vil. <br><br>

<%= link_to "Se og inviter dine utvalgte medspillere her", team_url(@team) %><br><br>


“We play with 2 stoppers and 3 spisses... “ - Nils Arne Eggen <br><br>

---------- <br><br>

NATT&DAG Sommerleker | Sukkerbiten  Lørdag 15. Juni | 12:00-18:00 <br>

www.nattogdag.no    |         www.cocio.no          |    www.sukkerbiten.no </p>