<h1>Listing players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.email %></td>
    <td><%= player.team_id %></td>
  </tr>
<% end %>
</table>

<br />


<p>
  Download:
  <%= link_to "CSV", players_path(format: "csv") %> |
  <%= link_to "Excel", players_path(format: "xls") %>
</p>