<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
      </Row>
    <% @players.each do |player| %>
      <Row>
        <Cell><Data ss:Type="String"><%= player.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= player.email %></Data></Cell>
      </Row>
    <% end %>
     <% @teams.each do |team| %>
      <Row>
        <Cell><Data ss:Type="String"><%= team.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.email %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>