<div class="container">
<div class="row">
	<div class="span12">
		<div class="well text-center">
			<p id="notice"><%= notice %></p>
		  <b>Navn:</b>
		  <%= @player.name %>
			<% if @player.confim == false %>
			  <%= form_for(@player, :html => { :class => "confirm-player" }) do |u| %>
			    <%= u.hidden_field :confim, :value => "true" %>
			    <%= button_tag(type: 'submit', class: "btn btn-mini btn-info") do %>
			       <i class="icon-ok icon-white"></i> Bekrefte
			    <% end %>
			  <% end %>
			<% else %>
			  <%= form_for(@player, :html => { :class => "confirm-player" }) do |u| %>
			    <%= u.hidden_field :confim, :value => "false" %>
			    <%= button_tag(type: 'submit', class: "btn btn-mini btn-warning") do %>
			       <i class="icon-remove icon-white"></i> Meld av
			    <% end %>
			 	<% end %>
			<% end %>
		</div>
	</div>
	<div class="span12">
    <%= image_tag("cocio-logo.png", :class => "cocio-logo logo-small") %>
  </div>
  </div>
</div>