@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fast.fonts.com/cssapi/5fd59e93-01d7-49cc-bdd8-013beeb6e785.css);

body { 
  background: url(/assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
h1, h2, h3, h4, h5, h6 {
	font-family:'FranklinGothicW01-Conde';
	font-weight: 100;

} 
.show-well > h1, h2, h3, h4, h5, img {position: relative;z-index: 4;}
.fb-center {margin-left: 137px;}
.logos {
	height: 350px;
position: relative;
top: -110px;
left: -32px;
z-index: -1;
}
.grey {opacity: 0.3;}
.logos-top {height:290px;top:40px;}
.cocio-logo {

	position: absolute;
	bottom: 0px;
	left:50%;
	z-index: -1;
}
.logo-big {width:200px;height: auto;margin-left:-101px;}
.logo-small {width:100px;height: auto;margin-left:-51px;}
.group-picture {
z-index: -2;
margin-left: -136px;
bottom: -110px;
width: 260px;
height: auto;
}
.single-picture {
z-index: -2;
margin-left: -240px;
bottom: 0px;
width: 460px;
height: auto;
}
.ticket {position:absolute;top:15px;right:50px;}
.offsetback {margin-left:-70px;}
.big-img {width:200px;height:200px;margin:0 0 10px 10px;border-radius: 5px;
border: 3px solid rgba(0, 0, 0, 0);}
.big-img:hover {border:3px solid #328822;}
.well {margin-top:40px;background-image:url(/assets/paper-bg.png);}
.table {background-color: #FFF;
border-radius: 5px;}
.fb-send {position: relative;top: 5px;}
.input_hidden {
    position: absolute;
    left: -9999px;
}

#teamgroups {margin-top:-15px;}
#teamgroups label {
    display: inline-block;
    cursor: pointer;
		border:2px solid transparent;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}
#teamgroups label:hover {
    background-color: #efefef;
    border:2px solid #DDD;
}

#teamgroups label img {
	width:100px;
	height:100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.selected {border:2px solid #8D8D8D !important;}
.teamet img {
	float:right;
	margin-top:-60px;
	width:200px;
}
.teamet h1 {

}
.teamet h2 {
	margin-top:-20px;
}
.confirm-player {
	display: inline;
	margin-left: 10px;
}
@media (max-width: 320px) {
	.teamet img {
		float:none;
		width:100px;
		margin:0 auto;
	}
	.teamet h2 {
		margin-top:10px;
	}
	.logos {
	height: 350px;
	position: absolute;
	top: -160px;
	left: 90px;
	z-index: -1;
	}
	h1 {font-size: 25.5px;}
	.cocio-logo {

		position: absolute;
		bottom: 0px;
		left:50%;
		z-index: -1;
	}
	body {overflow-x: hidden;}
	.logo-big {width:200px;height: auto;margin-left:-101px;}
	.logo-small {width:100px;height: auto;margin-left:-51px;}
	.group-picture {
    z-index: -2;
    margin-left: -256px;
    bottom: -67px;
    width: 200px;
    height: auto;
}
	.offsetback {margin-left:-10px;}
	.single-picture {
	z-index: -2;
	margin-left: -240px;
	bottom: 0px;
	width: 460px;
	height: auto;
	} 
	.ticket {position:absolute;top: 5px;
right: 0px;
width: 100px;}
}
@media (min-width: 321px) and (max-width: 480px) {
	.teamet img {
		float:right;
		margin-top:-60px;
		width:200px;
	}
	.teamet h2 {
		margin-top:10px;
	}
	.logos {
	height: 350px;
	position: absolute;
	top: -160px;
	left: 90px;
	z-index: -1;
	}
	h1 {font-size: 25.5px;}
	.cocio-logo {

		position: absolute;
		bottom: 0px;
		left:50%;
		z-index: -1;
	}
	body {overflow-x: hidden;}
	.logo-big {width:200px;height: auto;margin-left:-101px;}
	.logo-small {width:100px;height: auto;margin-left:-51px;}
	.group-picture {
    z-index: -2;
    margin-left: -256px;
    bottom: -67px;
    width: 200px;
    height: auto;
}
	.offsetback {margin-left:-10px;}
	.single-picture {
	z-index: -2;
	margin-left: -240px;
	bottom: 0px;
	width: 460px;
	height: auto;
	}
	.ticket {position:absolute;top: 5px;
right: 0px;
width: 100px;}
}