<!DOCTYPE html>
<html>
<head>
  <title>Natt og Dag Sommerleker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="author" content="Daniel Cherubini - www.danmade.me">
  <meta property="og:title" content="NATT&amp;DAG Sommerleker"/>
  <meta property="fb:app_id" content="140777122778257">
  <meta property="og:description" content="NATT&amp;DAG og Cocio presenter Sommerleker på Sukkerbiten"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
